.task
{
    width: 100%;
    height: 60px;
    background-color: rgba(219, 155, 155, 0.5);
    padding: 5px;
}

.task svg
{
    float: right;
}

.middle {
    position: absolute;
    top: 0%;
    right: 1%;
    transform: translate(-50%,-50%);
}

.sm-container {
    text-align: center;
}

.sm-container svg {
    padding: 5px;
    cursor: pointer;
    transition: 0.4s;
}

.sm-menu svg:hover {
    transform: scale(1.2);
}


.sm-menu {
    background: #9fdeaf;
    position: absolute;
    border-radius: 5px;
    display: none;
}

.sm-menu::before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    background: #9fdeaf;
    top: -5px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

