.task
{
    color: #fff;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 10px 0;
}

.task svg
{
    float: right;
    margin-top: -3px;
    margin-right: -5px;
}

.middle {
    position: absolute;
    top: 0%;
    right: 0.5%;
    transform: translate(-50%,-50%);
}

.sm-container {
    text-align: center;
}

.sm-container svg {
    padding: 5px;
    cursor: pointer;
    transition: 0.4s;
}

.sm-menu svg:hover {
    transform: scale(1.2);
}


.sm-menu {
    /* background: #9fdeaf; */
    background-image: linear-gradient(to bottom, #9fdeaf 0%, #96dbe2 100%);
    position: absolute;
    border-radius: 5px;
    display: none;
}

.sm-menu::before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    background: #9fdeaf;
    top: -5px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

